{% extends 'base.html.twig' %}

{% block title %}Détails pour l'etablissement {{etablissement.id}}{% endblock %}

{% block body %}

<h1>{{etablissement.nom}}</h1>
<div class="flex">

 <div class="info_element">
 <span>{{etablissement.nom}}</span>
 <span>{{etablissement.ville}}</span>
 <span>{{etablissement.adresse}}</span>
  <span>{{etablissement.description}}</span>
 </div>
 
  
  {% for suite in etablissement.suites|slice(0, 3) %} 
  <div class="card">
 <span>{{suite.titre}}</span>
 <span>{{suite.imageA}}</span> 
 <span>{{suite.description}}</span>
  <span>{{suite.prix}}</span>
   <span>{{suite.statut}}</span>

 </div>
  {% endfor %}
  <a href="{{ path('app_suite', {'id': etablissement.id}) }}">Voir plus de suites</a>
</div>
{% endblock %}
